<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         failOnWarning="true"
         failOnRisky="true">

    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">Feature</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">app</directory>
        </include>
    </coverage>

    <php>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
    </php>
</phpunit>
